.darkMode .logo, .darkMode .sign {
  filter: invert(1) brightness(2);
}

.darkMode {
  background-color: black;
}
.darkMode .container_header button {
  background-color: black;
  border-color: black;
  color: #d6ffff;
}
.darkMode .topo {
  background-image: url("/topo2.png");
}

.darkMode .topo h1 {
  color: #d6ffff;
  opacity: 1;
}
.darkMode .container_main h2,
.darkMode .container_main h3,
.darkMode .container_main p,
.darkMode .footer {
  color: white;
}

.container_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
}

.logo {
  width: 120px;
  height: 120px;
}

.container_header button {
  width: 60px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  font-size: 28px;
}

.topo {
  background-image: url("/topos.png"); /* Não precisa de /public */
  width: 100vw;
  height: 50vh;
  background-size: cover; 
  background-position: 0% 100%; /* Para centralizar a imagem */
  display: flex;
  justify-content: center;
  align-items: center;
}

.topo h1 {
  color: white;
  font-family: tahoma;
  font-size: 50px;
  opacity: 0.75;
}
.container_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container_main div {
  flex-direction: column;

  display: flex;
  gap: 40px;
  margin-top: 80px;
  max-width: 45%;
}

.container_main h2 {
  font-family: tahoma;
  font-style: italic;
  color: #947256;
}

.container_main h3 {
  font-family: sans-serif;
}

.container_main p {
  font-family: sans-serif;
}

.sign {
  width: 18%;
  height: 18%;
  margin-top: -20px;
  margin-left: 150px;
}
.footer {
  margin-top: 150px;
  text-align: center;
}
